@import "../variables.scss";
.benefit-container {
  min-height: 100vh;
  font-family: "Muli", serif;
  color: $red;
  position: relative;
  padding-top: 15%;
  .heading {
    color: $dark-blue;
    text-align: center;
    padding-bottom: 30px;
  }
  .benefit-details {
    text-align: center;
    margin: auto;
    .details-wrapper {
      display: inline-block;
      vertical-align: middle;
      @media only screen and (max-width: 767px) {
        margin: auto;
        margin-bottom: 30px;
        img {
          height: 200px;
          width: 80%;
        }
      }
      .step {
        font-weight: bold;
      }
    }
  }
}